include ../layout.pug

block content
	h1 Admin Settings


	include ./_account_nav

	h2 All Admins

	table
			thead
				tr
					td First Name
					td Last Name
					td Email
					td Remove Admin Access
			tbody
			each admin in admins
				tr
					td= admin.name.first
					td= admin.name.last
					td= admin.email
					td
						input(type="checkbox" name="admin" data-user=`${admin._id}`)

	h2 All Users

	table
			thead
				tr
					td First Name
					td Last Name
					td Email
					td Add Admin Access
			tbody
			each nonAdmin in nonAdmins
				tr
					td= nonAdmin.name.first
					td= nonAdmin.name.last
					td= nonAdmin.email
					td
						input(type="checkbox" name="admin" data-user=`${nonAdmin._id}`)

block footer-scripts
	script.
		function changeAdmin(e) {
			var user = $(this).data('user');
			var request = $.ajax({
				url: '/users/edit',
				data: {changeAdmin: true, user},
				type: 'PUT'
			});

			request.done((res)=>{
				$('h1').after(`<div>${res}</div>`)
			});
			
			request.fail((res) => {
				console.log("ERROR", res)
			});
		}

		$('input:checkbox').on('click', changeAdmin);