include ../layout.pug

block content
	.col-12
		include ./_account_nav
		.title Admin Settings

		.subtitle All Admins

		table#admins
				thead
					tr
						td Name
						td Email
						td Change Admin Access
				tbody
				each admin in admins
					tr
						td= admin.fullName
						td= admin.email
						td
							input(type="checkbox" name="admin" data-user=`${admin._id}`)

		.subtitle All Users

		table#nonAdmins
				thead
					tr
						td Name
						td Email
						td Add Admin Access
				tbody
				each nonAdmin in nonAdmins
					tr
						td= nonAdmin.fullName
						td= nonAdmin.email
						td
							input(type="checkbox" name="nonAdmin" data-user=`${nonAdmin._id}`)

append footer-scripts
	script.
		function changeAdmin(e) {
			var input = $(this);
			var user = $(this).data('user');
			var request = $.ajax({
				url: '/users/edit',
				data: {changeAdmin: true, user},
				type: 'PUT'
			});

			request.done(res => {
				var response = `<div>${res}</div>`;
				var user = input.closest('tr');
				$('.title').after(response);
				$('.title').next().fadeOut('slow', () => {
					$('.title').next().remove();
					input[0].checked = false;
					if (user.parent().parent().attr('id') == 'admins') {
						$('#nonAdmins').append(user);
					} else {
						$('#admins').append(user);
					}
				});
			});

			request.fail(res => {
				console.log("ERROR", res)
			});
		}

		$('input:checkbox').on('click', changeAdmin);