include ../layout.pug

block content
  .col-12

    .title Update Profile

    form#editProfile(action=`/profiles/${user._id}?_method=PUT` method='POST')
      label First Name
      input(value=user.name.first name='name.first' type='text' required)
      label Last Name
      input(value=user.name.last name='name.last' type='text' required)
      label Nickname
      input(value=user.name.nickname name='name.nickname' type='text')
      label Email
      input(value=user.email name='email' type='email' required)
      label Update Password
      input(name='password' type='password' placeholder="Enter new password")

      input.grey-button(type='submit' value='Update Profile')