
form(action="/points", method="POST")
  input(type='hidden', name="user", value=user.name)
  input(type='hidden', name="challenge", value="NEED TO FILL OUT!!!!!!!")

  label= 'Activity:' + activity.name
  if activity.description
    label= 'Description' + activity.description

  label(for="scale")= `How many ${activity.unit.name}s?`
  input(type=text name="scale")

  label Point Value:
  div#point-value 0 #[span Points]

  input(type='submit' value='Add Points')

