mixin pointsEntry(id, activity, numOfUnits, calculatedPoints, action)
  .points-entry.col-12
    input(type="hidden" name="point" value=id)
    img.trash(src="/images/trash.png")

    .activity
      input(type="hidden" name="activity" value=activity._id)
      .activity-name= activity.name
      - let description = ""
      if activity.description
        - description = `${activity.description},`
      .activity-description #{description} #[span.activity-points= activity.points] points for every #[span.activity-points-scale= activity.scale] #{activity.unit.name}

    div
      .fieldset
        label(for="numOfUnits")= `${activity.unit.name}s`
        input.num-of-units(type="number" name="numOfUnits" value=numOfUnits required)


    .calculated-points #{calculatedPoints} 0.00 POINTS
    input.calculated-points(type="hidden", name="calculatedPoints", value=calculatedPoints)

    input(type="hidden" name="action" value=action)
