mixin pointEntry(id, activity, numOfUnits, calculatedPoints, action)
  .point-entry.col-12(data-is-action-changed=false)
    input(type="hidden" name="point" value=id)
    img.trash(src="/images/trash.png" width="24px")

    .activity
      input(type="hidden" name="activity" value=activity._id)
      .activity-name= activity.name
      - let description = ""
      if activity.description
        - description = `${activity.description},`
      .activity-description #{description} #[span.activity-points= activity.points] points for every #[span.activity-points-scale= activity.scale] #{activity.unit.name}

    div
      .fieldset
        label(for="numOfUnits")= `${activity.unit.name}s`
        input.num-of-units(data-original-num-of-units=numOfUnits type="number" name="numOfUnits" value=numOfUnits min="0" required )

    .calculated-points #{calculatedPoints || 0.00} POINTS
    input.calculated-points(type="hidden", name="calculatedPoints", value=calculatedPoints)

    input(data-original-action=action data-previous-action=action type="hidden" name="action" value=action)
