- var weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
- var weekday = weekdays[addPointsButtonDate.getDay() - 1]
- var month = addPointsButtonDate.getMonth() + 1
- var date = addPointsButtonDate.getDate()

#add-points-container.col-12
  #x-button.hamburger &#10005;

  .subtitle #{weekday}, #{month}/#{date}

  .border

  form#add-points(action="/points" method="POST")
    input(type="hidden" name="participation" value=participationId)
    input(type="hidden", name="date", value=date)

    //- this is where all point entries will appear
    .point-entries

    div
      label#activity-name Add Activity
      input#typeahead(type="text")

    div
      label Point Calculator:
      div #[span#totalPointsDisplay 0] Points
      input#totalPoints(type="hidden" name="totalPoints" value="0")

    input(type='submit' value='Add Points')