- var weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
- var weekday = weekdays[addPointsButtonDate.getDay()]
- var month = addPointsButtonDate.getMonth() + 1
- var date = addPointsButtonDate.getDate()

include _points_entry_mixin

#points-form-modal.col-12
  #abandon-points-form.hamburger &#10005;

  #abandon-points-form-confirmation-modal
    .dialog-box
      .dialog-title.center Unsaved Changes
      .dialog-message Your changes will not be saved. Are you sure you want to leave?
      .dialog-buttons
        button#confirm-abandon-points-form.grey-button Yes
        button#cancel-abandon-points-form.grey-button(style=`background-color: ${familyColors[user.family.name]}`) No


  .subtitle #{weekday}, #{month}/#{date}

  .border



  form#points-form(action="/points" method="POST")
    .center.typeahead-loading-spinner
      img(src="/images/spinner.gif" width="64px" height="64px" alt="loading indicator gif")

    .points-form-content
      input(type="hidden" name="participant" value=user.participantId)
      input(type="hidden", name="date", value=addPointsButtonDate)

      //- this is where all point entries will appear
      .point-entries
        if familyParticipants.length
          each point in familyParticipants[0].points
            +pointEntry(point._id, point.activity, point.numOfUnits, point.calculatedPoints, "ignore")
            .clear

      - let pointsString = "";
      if familyParticipants.length && familyParticipants[0].totalDailyPoints
        - pointValue = familyParticipants[0].totalDailyPointsDisplay
        - pointsString = `TOTAL = ${pointsValue} POINTS`
      else
        - pointString = `TOTAL = 0 POINTS`
        - pointValue = 0
      .total-calculated-points(style=`color: ${familyColors[user.family.name]}`) #{pointsString}
      input.total-calculated-points(type="hidden" name="totalDailyPoints" value=pointsValue)


      label#activity-name Add Activity
      input#typeahead(type="text")

      input#submit-points-button.grey-button(style=`background-color: ${familyColors[user.family.name]}` value="Done" type='submit')

.clear
