extends ../layout

block content
	.col-12
		.title Activities
		each activity in activities
			.activity
				.activity-name= activity.name
				- activity.description = activity.description ? activity.description + ",": "";
				.activity-description #{activity.description} #{activity.points} points for every #{activity.scale} #{activity.unit.name}