extends ../layout

block content
	.col-12
		.title Activities
		each activity in activities
			.activity
				.activity-name= activity.name
				- let description
				- activity.description ? description = `${activity.description}, ${activity.points} points for every ${activity.scale} ${activity.unit.name}` : description = `${activity.points} points for every ${activity.scale} ${activity.unit.name}`
				.activity-description= description