include ../layout.pug

h1 Add an activity 

form(action='/activities' method='POST')
	| Name
	input(name='name' type='text' required)
	| Description
	input(name='description' type='text' required)
	| Points Per Unit
	input(name='pointsPerUnit' type='text' required)
	| Unit
	select(name="unit_id")
		each unit in units 
			option(value=unit._id)= unit.name + ', ' + unit.abbreviation

	input(type='submit' value='Add Activity')

h2 All Activities

each activity in activities
	p= "Name: " + activity.name
	p= "Description: " + activity.description
	p= "Points Per Unit of Excersise: " + activity.pointsPerUnit
	p= "Unit: " + activity.getUnitName()