mixin printLink(href, name)
  - let style;
  if path === href
    if isLoggedIn
      - style = `color: ${familyColors[user.family.name]}`
    else
      - style = "text-decoration: underline"
  a(class!=attributes.class href=href style=style)!= name

doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head-scripts
      script(src="/libs/jquery.min.js")
      script(src="/javascripts/main.js")

  body
    nav.col-12
      .top
        .subtitle.logo
          a(href="/") LPN Fitness
        if isLoggedIn
          .hamburger-button
            .line
            .line
            .line
      if isLoggedIn
        .nav-links
          +printLink(home, "Home")
          - var familyNames = ["Alexandrite", "Emerald", "Iolite", "Ruby", "Sapphire", "Sunstone", "Topaz"]
          +printLink("#", "Families <span class='down-arrow'>&#9660;</span>")(class="drop-down")
          .drop-down-links
            each familyName in familyNames
              +printLink(`/families/${familyName}`, familyName)
          +printLink("/challenges", `Challenges (${challengeCount})`)
          +printLink("/activities", "Activities")
          +printLink("/schedule", "Schedule")
          +printLink("/rules", "Rules")
          if user.admin
            +printLink("#", "Settings <span class='down-arrow'>&#9660;</span>")(class="drop-down")
            .drop-down-links
              +printLink(`/users/admin-settings`, "Admin")
              +printLink(`/users/${user.email}`, "Profile")
          else
            +printLink(`/users/${user.email}`, "Profile")
          +printLink("/logout", "Logout")

    .clear

    block content

    block footer-scripts
      script.
        $('body').on('click', '.drop-down', e => $(e.target).next().slideToggle())

        let reverse = false;
        $('body').on('click', ".hamburger-button", e => {
          if (reverse) {
            $(e.currentTarget).removeClass("animate-x");
            $(e.currentTarget).addClass("animate-x-reverse");
            $(".nav-links").removeClass("move-nav-down");
            $(".nav-links").addClass("move-nav-up");
            setTimeout(() => $(".nav-links").css("display", "none"), 200);
            reverse = !reverse;
          } else {
            $(e.currentTarget).removeClass("animate-x-reverse")
            $(e.currentTarget).addClass("animate-x");
            $(".nav-links").removeClass("move-nav-up");
            $(".nav-links").css("display", "block");
            $(".nav-links").addClass("move-nav-down");
            reverse = !reverse;
          }
        })