mixin link(href, name)
  - let style;
  if (path === href)
    if (user)
      if (familyColors[name])
        - style = `color: ${familyColors[name]}`
      else
        - style = `color: ${familyColors[user.family.name]}`
    else
      - style = "text-decoration: underline"
  a(class!=attributes.class href=href style=style)!= name

doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head-scripts
      script(src="/libs/jquery.min.js")
      script(src="/javascripts/main.js")

  body
    nav.col-12
      .top
        .subtitle.logo LPN Fitness
        .hamburger &#9776;
      .nav-links
        if !user
          +link("/", "Home")
        else
          +link(home, "Home")
          - var familyNames = ["Alexandrite", "Emerald", "Iolite", "Ruby", "Sapphire", "Sunstone", "Topaz"]
          +link("#", "Families <span class='down-arrow'>&#9660;</span>")(class="drop-down")
          .drop-down-links
            each familyName in familyNames
              +link(`/families/${familyName}`, familyName)
          +link("/challenges", `Challenges (${challengeCount})`)
          +link("/activities", "Activities")
          +link("/schedule", "Schedule")
          +link("/standings", "Standings")
          +link("/rules", "Rules")
          +link("/account", "Account")
          +link("/logout", "Logout")

    block content

    block footer-scripts
      script.
        $(document).ready(() => {
          $("#subMenu").on(
          "mouseover", "click",
          () => {
            $("#dropDown").slideToggle();
          },
          () => {
            $("#dropDown").slideToggle();
          });
        })

        $('body').on('click', '.drop-down', (e) => $('.drop-down-links').slideToggle());

        let isNavShowing = false
        $('body').on('click', '.hamburger', function(e) {
          isNavShowing = !isNavShowing
          if (isNavShowing)  {
            $(e.target).html("&#10005;");
          } else {
            $(e.target).html("&#9776;")
          }
          $('.nav-links').toggle(isNavShowing)
        });