table
		thead
			tr
				td Activity
				td Number of
				td Units
				td Calculated Points
		tbody
		each point in points
			tr
				td= point.activity.name
				td= point.numOfUnits
				td= point.activity.unit.name
				td= point.calculatedPoints
					a(href=`/points/${point._id}`) Edit
					a(href=`/points/${point._id}`) Delete
