table
		thead
			tr
				td Activity
				td Number of
				td Units
				td Calculated Points
		tbody
		each point in points
			tr(data-point=point._id)
				td= point.activity.name
				td= point.numOfUnits
				td= point.activity.unit.name
				td= point.calculatedPoints
				td #[button Edit]
				td #[button.delete-point Delete]
