div#monday(data-date=dates[0])= (dates[0].getMonth() + 1) + '/' + dates[0].getDate()
div(data-date=dates[1])= (dates[1].getMonth() + 1) + '/' + dates[1].getDate()
div(data-date=dates[2])= (dates[2].getMonth() + 1) + '/' + dates[2].getDate()
div(data-date=dates[3])= (dates[3].getMonth() + 1) + '/' + dates[3].getDate()
div(data-date=dates[4])= (dates[4].getMonth() + 1) + '/' + dates[4].getDate()
div(data-date=dates[5])= (dates[5].getMonth() + 1) + '/' + dates[5].getDate()
div#sunday(data-date=dates[6])= (dates[6].getMonth() + 1) + '/' + dates[6].getDate()