div#calendar-head
  div.col-2
    if true
      button#previous.change-week &larr;
  div#calendar.col-8
    div#weekdays
      div M
      div T
      div W
      div T
      div F
      div S
      div S
    div#dates
      div#monday(data-date=dates[0])= dates[0].getDate()
      div(data-date=dates[1])= dates[1].getDate()
      div(data-date=dates[2])= dates[2].getDate()
      div(data-date=dates[3])= dates[3].getDate()
      div(data-date=dates[4])= dates[4].getDate()
      div(data-date=dates[5])= dates[5].getDate()
      div#sunday(data-date=dates[6])= dates[6].getDate()
  div.col-2
    if true
      button#next.change-week &rarr;

script.
  function getCalendarHead(e) {
    e.preventDefault();
    var direction = $(this).attr('id');
  }

  $('#calendar-head').on('click', '.change-week', getCalendarHead)