div#dailyPoints
	div= "current date = " + addPointsButtonDate

	| Current Challenge Participants
	each participation in familyParticipations
		p= participation.user.name.nickname
		p= participation.user.fullName
		//- p= "Lifetime Points: " + participation.user.lifetimePoints
		//- p= `Points For Week: ${participation.totalPoints}`
		p= "Today's Total: " + participation.totalDailyPoints
		if participation.user._id.toString() == user._id.toString()
			div#pointsBody
			button#addPoints(data-date=addPointsButtonDate) Add Points

		if participation.points.length > 0
			table
				thead
					tr
						td Activity
						td Number of
						td Units
						td Calculated Points
				tbody
				each point in participation.points
					tr(data-point=point._id)
						td= point.activity.name
						td= point.numOfUnits
						td= point.activity.unit.name
						td= point.calculatedPoints
						td #[button.delete-point Delete]
