.col-12
  .switch-weeks
    div
      if showPrevious
        #previous.change-week  &lt; Previous Week
    div
      if showNext
        #next.change-week Next Week &gt;
      else
        | Next Week: #[span(style=`color: ${familyColors[nextVersingFamilyName]};font-style: normal`)= nextVersingFamilyName]

  #summary
    .title(style=`color: ${familyColors[family.name]}`)= family.name
    .title(style=`color: ${familyColors[family.name]}`)= family.teamScore

  #competitorSummary Week #[span.weekNumber= requestedWeek]: vs #[span#versingFamily(style=`color: ${familyColors[versingFamily.name]}`)= versingFamily.name]


  .border

  #weeklyStatus
    div Opponent score:
      span= versingFamily.teamScore
    div Status:
      span(style=`color: ${statusColors[family.pointsNeededToWin.status]}`)= family.pointsNeededToWin.message
    if isCurrentWeek
      div Time left:
        span#timeRemaining= timeRemaining

.clear

if currentChallenge
  #backgroundGradient(style=`background: ${gradients[family.name]}`)
    include _scoreboard
else
  .info There is no current challenge. Please contact your program administrator to create one!

if addPointsButtonDate
  include ../points/new

//- Uncomment ask cally where to put family motto
//- h2= "Motto: " + family.motto