div.switch-weeks
  if showPrevious
    #previous.change-week  &lt; Previous Week
  if showNext
    #next.change-week Next Week &gt;

div#summary
  #familyName= family.name
  #totalPoints= family.totalPoints

#competitorSummary Week #[span.weekNumber= currentChallenge.weekNumber]: vs #[span#versingFamily= versingFamily.name]

hr

table#weeklyStatus
  tbody
    tr
      td Opponent Score:
      td= versingFamily.totalPoints
    tr
      td Status:
      td= family.pointsNeeded
    tr
      td Time Left:
      td#time

if currentChallenge
  p= 'Current challenge: ' + currentChallenge.name
    if currentChallenge.participation
      p= 'Status: participating'
    else
      p= 'Status: not participating'
      a(href='/challenges') See upcoming challenges

  hr

  include ./_calendar
  include ./_daily_points

  hr
else
  h3 There is no current challenge. Please contact your program administrator to create one!


h2= family.motto