.col-12.switch-weeks
  if showPrevious
    #previous.change-week  &lt; Previous Week
  if showNext
    #next.change-week Next Week &gt;

#summary.col-12(style=`color: ${familyColors[family.name]}`)
  #familyName= family.name
  #totalPoints= family.totalPoints

#competitorSummary.col-12 Week #[span.weekNumber= currentChallenge.weekNumber] vs #[span#versingFamily(style=`color: ${familyColors[versingFamily.name]}`)= versingFamily.name]

hr

#weeklyStatus.col-12
  div Opponent score: #[span= versingFamily.totalPoints]
  div Status: #[span(style=`color: ${statusColors[family.pointsNeeded.status]}`)= family.pointsNeeded.message]
  div Time left: #[span#timeRemaining= timeRemaining]

.clear

if currentChallenge
  //- UNCOMMENT ASK CALLY ABOUT WHERE TO PUTT CHALLENGE NAME AND WHAT TO DISPLAY IF NOT PARTICIPATING
  //- p= 'Current challenge: ' + currentChallenge.name
  //-   if currentChallenge.participation
  //-     p= 'Status: participating'
  //-   else
  //-     p= 'Status: not participating'
  //-     a(href='/challenges') See upcoming challenges
  #backgroundGradient
    #scoreboard
      include ./_calendar
      include ./_daily_points
else
  h3 There is no current challenge. Please contact your program administrator to create one!

//- Uncomment ask cally where to put family motto
//- h2= "Motto: " + family.motto