extends ../layout

block content
  if (added)
    h2 Family Added!

  a(href="new") Add New Family

  table
      thead
        tr
          td Family Name
          td Challenges Won
          td Playoffs Reached
          td Top Contributor
          td Link to Page
      tbody
      each family in families
        tr
          td= family.name
          td= family.challengesWon
          td= family.playoffsReached
          td= family.topContributor
          td
            a(href=family.name)= `${family.name} Page`


