extends ../layout

block content
  if (added)
    h2#familyAddedMessage= `We welcome ${added} to LPN!`

  a(href="/families/new") Add New Family

  table
      thead
        tr
          td Family Name
          td Challenges Won
          td Playoffs Reached
          td Top Contributor
          td Link to Page
      tbody
      each family in families
        tr
          td= family.name
          td= family.challengesWon
          td= family.playoffsReached
          td= family.topContributor
          td
            a(href=`families/${family.name}`)= `${family.name} Page`

block footer-scripts
  script.
    $(document).ready(() => {
      var el = $("#familyAddedMessage");
      if (el) el.fadeOut(2000);
    })
