extends ../layout

block content
	if futureChallenges.length === 0
		| There are no challenges to sign up for :( SORRY. Please complain to your administrator.
	else if registerableChallengesCount === 0
		| You've signed up for all of the upcoming challenges! Just hold up till the challenge starts. 
	else
		| Welcome! You can still sign up for #{registerableChallengesCount} challenges! #[a(href="/challenges") Sign Up]
	
	h1 Checkout #{user.name.first}'s Stats

	//- include ../challenges/index
	h2 Name #{user.fullName}
	h2 Nickname #{user.name.nickname}

	h2 Overall Stats
	h3 Overall Rank: #{user.$locals.overallIndividualRank}
	h3 Overall Rank in Family: #{user.$locals.overallIndividualRankInFamily}
	h3 Number of Challenges Completed: #{user.$locals.numOfChallengesCompleted}
	h3 Lifetime Points: #{user.lifetimePoints}
	h3 Favorite Activity: #{favoriteActivity}

	h2 Active Challenge Stats

	h2 Awards
	// if top five in fraternity, get an award (write position number)
	// if top finisher, get an award

