extends ../layout

block content
  include ./_calendar

  h1= `${family.name}`
  h2= `Week 4 score: ${totalPoints}`
  h2= `${family.motto}`

  hr

  h1= `Week 4: vs Iolite (183 points)`
  h2= `183 points needed to catch up`

  hr
  h2#time


  if currentChallenge
    - var challenge = currentChallenge
    p= 'Current challenge: ' + challenge.name
      if challenge.participation
        p= 'Status: ' + 'participating'
      else
        p= 'Status: ' + 'not participating'
        a(href='/challenges') See upcoming challenges

  hr

  | Current Challenge Participants
  each participation in familyParticipations
    p= participation.user.name.first
    p= "Lifetime Points: " + participation.user.lifetimePoints
    p= "Points for this Challenge: " + participation.totalPoints

block footer-scripts
  script.

    function getTimeRemaining(endtime) {
      var t = Date.parse(endtime) - Date.parse(new Date());
      var seconds = Math.floor((t/1000) % 60);
      var minutes = Math.floor((t/1000/60) % 60);
      var hours = Math.floor((t/(1000*60*60)) % 24);
      var days = Math.floor(t/(1000*60*60*24));
      return {
        'total': t,
        'days': days,
        'hours': hours,
        'minutes': minutes,
        'seconds': seconds
      };
    }

    function initializeClock(id, endtime){
    var clock = document.getElementById(id);
    var timeinterval = setInterval(()=>{
    var t = getTimeRemaining(endtime);
    clock.innerHTML = t.days + ' days' + ' ' +
                      t.hours + ' hours' + ' ' +
                      t.minutes + ' minutes' + ' ' +
                      t.seconds + ' seconds';
      if (t.total<=0){
        clearInterval(timeinterval);
        }
      }, 1000);
    }
    $(document).ready(function(){
      initializeClock('time', $('#sunday').data('date'));
     });

    function getCalendarHead(e) {
      e.preventDefault();
      var data = {};
      data.direction = $(this).attr('id');

      if (data.direction == 'next') {
        data.date = $('#sunday').data('date');
      } else {
        data.date = $('#monday').data('date');
      }

      var request = $.ajax({
        url: "/families/calendar",
        data,
        type: "POST"
      });

      request.done((response) => {
        $('#dates').html(response);
      });

      request.fail(() => {
        console.log("Getting Calendar Head failed");
      });
    }

    function deletePoint(e) {
      e.preventDefault();
      var point = $(this).parent().parent();

      var request = $.ajax({
        type: 'POST',
        url: '/points?_method=DELETE',
        data: { point: point.data('point') }
      });

      request.done(res => {
        point.remove();
      });

      request.fail(res => console.log(res));
    }

    function addPoints(e) {
      var date = $(this).data('date');

      var request = $.ajax({
        type: 'GET',
        data: {date},
        url: '/points/new'
      })

      request.done(res => {
        $('#points-body').replaceWith(res);
        getActivities();
        $('#typeahead').bind('typeahead:select', getActivityData);
      });

      request.fail(e => console.log(e))
    }

    function getPoints(e) {
      var date = $(this).data('date')
      $.ajax({url: `/points?date=${date}`})
      .done(res => $('#points-body').html(res))
      .fail(res => console.log(res));
    }

    var typeaheadElements;
    var partial = false;

    function getActivities() {
      $.ajax({
        url: "/activities"
      })
      .done(function(res) {
        var activitiesFn = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.whitespace,
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          local: res
        });

        $('#typeahead').typeahead({
          minLength: 1,
          highlight: true
        },
        {
          name: 'my-dataset',
          source: activitiesFn
        });
      });
    }

    function getActivityData(ev, suggestion) {
      var request = $.ajax({
        url: '/activities/' + suggestion,
        data: partial == true ? "partial=true" : "partial=false"
      });

      request.done(res => {
        typeaheadElements = $('#typeahead').parent().parent();
        $('#typeahead').typeahead('val', '');
        typeaheadElements.hide();

        if (!partial) {
          $("#add-points").prepend(res);
        } else {
          $("#activity-list").append(res);
          $("#add-activity").show();
        }

      });

      request.fail(res => {
        console.log("FAIL", res)
      });
    }

    function addMoreActivities(e) {
      $('#activity-list').after(typeaheadElements);
      typeaheadElements.show();
      $("#add-activity").hide();
      partial = true;
    }

    function sumArray(total, num) {
      return total + num;
    }

    function calculatePoints(e) {
      var activity = $(this).parent();

      var activityPoints = activity.find('.activity-points').text();
      var activityPointsScale = activity.find('.activity-points-scale').text();

      var numOfUnits = $(this).val();

      if (numOfUnits == "") {
        activity.find('.calculatedPoints').val(0);
      } else {
        var calculation = (parseInt(activityPoints) / parseInt(activityPointsScale)) * parseInt(numOfUnits);
        activity.find('.calculatedPoints').val(calculation);
      }

      var totalPoints = $(".calculatedPoints").map(function() {
        return $(this).val() == "" ? 0 : parseInt($(this).val());
      }).get();

      totalPoints = totalPoints.reduce(sumArray);

      $("#totalPointsDisplay").text(totalPoints);
      $("#totalPoints").val(totalPoints);
    }

    $('#calendar-head').on('click', '.change-week', getCalendarHead);
    $('#calendar-head').on('click', '#dates div', getPoints);
    $('#points-body').on('click', '.delete-point', deletePoint);
    $('#points-body').on('click', '.add-points', addPoints);
    $('body').on('keyup', '.num-of-units', calculatePoints);
    $('body').on('click', '#add-activity button', addMoreActivities);