extends ../layout

block content
	include ./_calendar

	h1= `Welcome to ${family.name}'s Show page`
	h2=  user.name.nickname ? 'Nickname: ' + user.name.nickname : 'Nickname: ' + user.fullName
	h2= 'Name: ' + user.fullName
	h2= 'Lifetime Points: ' + user.lifetimePoints

	hr

	if currentChallenge
		- var challenge = currentChallenge
		p= 'Current challenge: ' + challenge.name
			if challenge.participation
				p= 'Status: ' + 'participating'
			else
				p= 'Status: ' + 'not participating'
				a(href='/challenges') See upcoming challenges

	hr

	| Current Challenge Participants
	each participation in familyParticipations
		p= participation.user.name.first
		p= participation.user.lifetimePoints


	script.
		$(document).ready(function(){
			dateListener();
		})


		var dateListener = function(){
			$('body').on('click', '#dates', function(){
				var hello = $(this).closest('div').html();
				console.log(hello);
			})
		}