include ../layout.pug


block content
h1 Settings
a(href="accounts/profile") Profile Settings  | 
a(href="accounts/admin-settings") Admin Settings 

h2 All Admins

table
		thead
			tr
				td First Name
				td Last Name
				td Email
				td Remove Admin Access
		tbody
		each admin in admins
			tr
				td= admin.name.first
				td= admin.name.last
				td= admin.email
				td
					input(type="checkbox" name="admin")

h2 All Users

table
		thead
			tr
				td First Name
				td Last Name
				td Email
				td Add Admin Access
		tbody
		each nonAdmin in nonAdmins
			tr
				td= nonAdmin.name.first
				td= nonAdmin.name.last
				td= nonAdmin.email
				td
					input(type="checkbox" name="admin")

block footer-scripts
	script.
		$(document).ready(function(){
			console.log("hello");
		});