include ../layout.pug

if user.admin
  a(href="new") Create New Challenge

h2 Current Challenge
unless currentChallenge.length === 0
  p= "Name: " + currentChallenge.name
  p= "Start Date: " + currentChallenge.date.start
  p= "End Date: " + currentChallenge.date.end
  if currentChallenge.winner != null
    p= "Winner: " + currentChallenge.winner.name

h2 Future Challenges
each challenge in futureChallenges
  p= "Name: " + challenge.name
  p= "Start Date: " + challenge.date.start
  p= "End Date: " + challenge.date.end
  if challenge.winner != null
    p= "Winner: " + challenge.winner.name

h2 Past Challenges
each challenge in pastChallenges
  p= "Name: " + challenge.name
  p= "Start Date: " + challenge.date.start
  p= "End Date: " + challenge.date.end
  if challenge.winner != null
    p= "Winner: " + challenge.winner.name


