mixin printChallenges(challenges, challengeType)
  each challenge in challenges
    .challenge
      p= challenge.name
      p #{challenge.date.start.toLocaleDateString()} - #{challenge.date.end.toLocaleDateString()}
      if challenge.winner
        p= "Winner: " + challenge.winner.name
      - let status, changeable
      if challengeType === "current"
        - status = challenge.participation ? {message: "Participating", color: "green"} : {message: "Not Participating", color: "grey"}
      else if challengeType === "future"
        if challenge.participation
          - status = { message: "Signed Up", color: "green" }
        else
          form.participate(action='/participations' method='POST')
            input(name="_id" type="hidden" value=challenge._id)
            input.participation-status(style=`background-color: ${familyColors[user.family.name]}` type='submit' value="Sign Up")
      else
        - status = challenge.participating ? { message: "Participated", color: "green" } : {message: "Did not Participate", color: "grey" }
      if status
        span.participation-status(class=status.color)= status.message
      if user.admin
        a.participation-status(href=`challenges/${challenge._id}/edit`)= 'Edit'
        button.grey-button(class='deleteButton' type='submit') Delete
        include _delete_confirmation_modal

include ../layout.pug

block content
  .col-12
    .title Challenges

    if challengeCount > 0
      if challengeCount === 1
        .info #[b NOTE:] A new challenge has been created! Sign up below under Future Challenges!
      else
        .info #[b NOTE:] There are #{challengeCount} new challenges available! Sign up below under Future Challenges!

    .subtitle Current Challenge
    if currentChallenge
      +printChallenges([currentChallenge], "current")
    else
      h3 There are no current challenges :( Contact your challenge administrator and request one!

    .subtitle.toggle-challenges Future Challenges #[span(class='down-arrow') &#9660;]
    .challenges
      if futureChallenges.length > 0
        +printChallenges(futureChallenges, "future")

      else
        h3 There aren't any scheduled challenges. Contact your program administrator and request one!


    .subtitle.toggle-challenges Past Challenges #[span(class='down-arrow') &#9660;]
    .challenges
      if pastChallenges.length > 0
        +printChallenges(pastChallenges, "past")
      else
        h3 This will fill up as soon as your organization starts competing!

    if user.admin
      a.grey-button.add-challenge(href="/challenges/new") Create Challenge

append footer-scripts
  script.
    $(document).ready(function() {
      $('body').on('submit', '.participate', addParticipation);
      $('body').on('submit', '.delete-form', deleteChallenge);
      $('body').on('submit', '.deleteButton', displayDeleteModal);
    });

    function displayDeleteModal(e) {
      
    }

    function addParticipation(e) {
      e.preventDefault();
      var form = $(this);
      var data = form.serialize();

      var request = $.ajax({
        url: "/participations",
        type: "POST",
        data
      })

      request.done(function(res) {
        form.replaceWith("<span class='participation-status green'>Signed Up</span>");
        $('div .info').css('display', 'none');
      });

      request.fail(function(res) {
        console.log("Failed", res);
      })
    };

    function deleteChallenge(event) {
      event.preventDefault();
      let form = $(this);
      let url = form.attr('action');
      var request = $.ajax({
        url,
        type: 'POST'
      })

      request.done(res => {
        window.location = '/challenges';
      })

      request.fail(res => {
      console.log("Failed", res);
      })
    }

    $('body').on('click', '.toggle-challenges', (e) => $(e.target).next().slideToggle());