include ../layout.pug

h1= 'Schedule - Regular Season' 

each family in families 
	h2= family.name
	table
			thead
				tr
					td Week
					td Opponent
					td Result
					td Team Score
					td Opp Score
			tbody
				tr
					td= 'Week 1'
					td= challenge.schedule['week1'][family.name].name
					td= challenge.schedule['week1'][family.name].winner
					td= challenge.schedule['week1'][family.name].finalScore
					td= challenge.schedule['week1'][family.name].finalScoreVersing
				tr
					td= 'Week 2'
					td= challenge.schedule['week2'][family.name].name
					td= challenge.schedule['week2'][family.name].winner
					td= challenge.schedule['week2'][family.name].finalScore
					td= challenge.schedule['week2'][family.name].finalScoreVersing
				tr
					td= 'Week 3'
					td= challenge.schedule['week3'][family.name].name
					td= challenge.schedule['week3'][family.name].winner
					td= challenge.schedule['week3'][family.name].finalScore
					td= challenge.schedule['week3'][family.name].finalScoreVersing
				tr
					td= 'Week 4'
					td= challenge.schedule['week4'][family.name].name
					td= challenge.schedule['week4'][family.name].winner
					td= challenge.schedule['week4'][family.name].finalScore
					td= challenge.schedule['week4'][family.name].finalScoreVersing
				tr
					td= 'Week 5'
					td= challenge.schedule['week5'][family.name].name
					td= challenge.schedule['week5'][family.name].winner
					td= challenge.schedule['week5'][family.name].finalScore
					td= challenge.schedule['week5'][family.name].finalScoreVersing
				tr
					td= 'Week 6'
					td= challenge.schedule['week6'][family.name].name
					td= challenge.schedule['week6'][family.name].winner
					td= challenge.schedule['week6'][family.name].finalScore
					td= challenge.schedule['week6'][family.name].finalScoreVersing
				tr
					td= 'Week 7'
					td= challenge.schedule['week7'][family.name].name
					td= challenge.schedule['week7'][family.name].winner
					td= challenge.schedule['week7'][family.name].finalScore
					td= challenge.schedule['week7'][family.name].finalScoreVersing