include ../layout.pug

block content
	.col-12
		.title= 'Schedule'

		include _standings

		each weekNumber in [1,2,3,4,5,6,7,8,9]
			- const week = "week" + weekNumber;
			.subtitle Week #{weekNumber}
			.border
			.matchups
				each family, index in Object.keys(currentChallenge.schedule[week])
					if index % 2 !== 0
						- continue

					- const matchupObject = currentChallenge.schedule[week][family]
					if weekNumber > 7
						.matchup
							.family
								.family-name #{family}
								.family-score #{matchupObject.finalScore}
							.vs vs
							.opponent
								.opponent-name tbd
								.opponent-score ---
					else
						.matchup
							.family
								.family-name #{family}
								.family-score #{matchupObject.finalScore}
							.vs vs
							.family
								.family-name #{matchupObject.versingFamily.name}
								.family-score #{matchupObject.versingFinalScore}
