include ../layout.pug

h1= 'Schedule - Regular Season' 

each family in families 
	h2= family.name
	table
			thead
				tr
					td Week
					td Opponent
					td Result
					td Team Score
					td Opp Score
			tbody
				tr
					td= 'Week 1'
					td= challenge.schedule['week1'][family._id]
					td= 'TBD'
					td= '54.16'
					td= '97.29'
				tr
					td= 'Week 2'
					td= challenge.schedule['week2'][family]
					td= 'Loss'
					td= '9.90'
					td= '75.83'
				tr
					td= 'Week 3'
					td= challenge.schedule['week3'][family]
					td= 'Loss'
					td= '59.56'
					td= '75.33'
				tr
					td= 'Week 4'
					td= challenge.schedule['week4'][family]
					td= 'Won'
					td= '25.85'
					td= '15.86'
				tr
					td= 'Week 5'
					td= challenge.schedule['week5'][family]
					td= 'Won'
					td= '19.88'
					td= '14.00'
				tr
					td= 'Week 6'
					td= challenge.schedule['week6'][family]
					td= 'Bye'
					td= '15.30'
					td= '0.00'
				tr
					td= 'Week 7'
					td= challenge.schedule['week7'][family]
					td= 'Loss'
					td= '24.58'
					td= '98.60'