include ../layout.pug

h1= 'Schedule - Regular Season' 

table
      thead
        tr
          td Week
          td Opponent
          td Result
          td Team Score
          td Opp Score
      tbody
        tr
          td= '1'
          td= 'Topaz'
          td= 'Loss'
          td= '54.16'
          td= '97.29'
        tr
          td= '2'
          td= 'Sunstone'
          td= 'Loss'
          td= '9.90'
          td= '75.83'
        tr
          td= '3'
          td= 'Ruby'
          td= 'Loss'
          td= '59.56'
          td= '75.33'
        tr
          td= '4'
          td= 'Sapphire'
          td= 'Won'
          td= '25.85'
          td= '15.86'
        tr
          td= '5'
          td= 'Emerald'
          td= 'Won'
          td= '19.88'
          td= '14.00'
        tr
          td= '6'
          td= 'Bye'
          td= 'Bye'
          td= '15.30'
          td= '0.00'
        tr
          td= '7'
          td= 'Iolite'
          td= 'Loss'
          td= '24.58'
          td= '98.60'

//- table
//-       thead
//-         tr
//-           td Week
//-           td Opponent
//-           td Result
//-           td Team Score
//-           td Opp Score
//-       tbody
//-       each family in families
//-         tr
//-           td= family.name
//-           td= family.challengesWon
//-           td= family.playoffsReached
//-           td= family.topContributor
//-           td
//- table
//-       thead
//-         tr
//-           td Week
//-           td Opponent
//-           td Result
//-           td Team Score
//-           td Opp Score
//-       tbody
//-       each family in families
//-         tr
//-           td= family.name
//-           td= family.challengesWon
//-           td= family.playoffsReached
//-           td= family.topContributor
//-           td
//- table
//-       thead
//-         tr
//-           td Week
//-           td Opponent
//-           td Result
//-           td Team Score
//-           td Opp Score
//-       tbody
//-       each family in families
//-         tr
//-           td= family.name
//-           td= family.challengesWon
//-           td= family.playoffsReached
//-           td= family.topContributor
//-           td
//- table
//-       thead
//-         tr
//-           td Week
//-           td Opponent
//-           td Result
//-           td Team Score
//-           td Opp Score
//-       tbody
//-       each family in families
//-         tr
//-           td= family.name
//-           td= family.challengesWon
//-           td= family.playoffsReached
//-           td= family.topContributor
//-           td
//- table
//-       thead
//-         tr
//-           td Week
//-           td Opponent
//-           td Result
//-           td Team Score
//-           td Opp Score
//-       tbody
//-       each family in families
//-         tr
//-           td= family.name
//-           td= family.challengesWon
//-           td= family.playoffsReached
//-           td= family.topContributor
//-           td
