extends ../layout

block content
	h1 Rules of the LPN Fitness Challenge

	h2 Format 
		p= '- Each week, your family will be put up against another family in a head-to-head showdown for highest weekly total (view Schedule)'
		p= '- If your family has a higher weekly average score than your opponent, you will be awarded a WIN'
		p= '- In the 8th week of the challenge, the top 4 families will advance to the playoffs (view Playoffs)'
		p= '- The one team who wins all of their Playoff matches will be crowned the victor'

	h2 Add/Drop Deadlines 
		p= 'Both deadlines are Sunday 4/23/17 @11:59pm'

		p= "1. Go to your Family Tab and type in your name in the 'Participant' column - don't sign up if you can't commit! "
		p= "2. Record your daily score and create a note (right click > insert note) detailing what was done (no notes, no points)"
		p= "3. You MUST record your scores for the current week by the following Monday at 12pm noon"
		p= "4. Check back into the Schedule and family tabs to monitor your scores throughout the week "
		p= "5. Win"


	h2 Notes
		p= "1. Your weekly team average score is your families weekly points divided by the number of participants from your family"
		p= "2. 'Standings' is where you can find out where you family stands against the competition"
		p= "3. There will be a update via email every other week detailing team progress and updates "
		p= "4. Concerns about the point system are requested, but any minor changes will only be incorporated the following quarter"

	h2 Questions
		p= "Email LeAnne at leanne.lnd@gmail.com, Resanna at resannali@gmail.com, or Stephen at stephen.lee.abc@gmail.com"





