include ../layout.pug

mixin printUsersTable(sectionSubtitle, tableId, users, fieldName, linkText)
  .subtitle= sectionSubtitle

  table(id=tableId)
    each user in users
      tr.user
        td
          .user-name= user.fullName
          .user-email= user.email
        td
          a.change-privilege(href="#" data-user=`${user._id}`)= linkText


block content
  .col-12
    .title Admin Settings

    +printUsersTable("Administrators", "admins", admins, "admin", "Make Non-Admin")
    +printUsersTable("Users", "nonAdmins", nonAdmins, "nonAdmin", "Make Admin")


append footer-scripts
  script.
    function changeAdmin(e) {
      e.preventDefault();
      var link = $(this);
      var userId = $(this).data('user');
      var request = $.ajax({
        url: `/users/${userId}`,
        data: {changeAdmin: true, userId},
        type: 'PUT'
      })
      .done(res => {
        console.log(res);
        var response = `<div>${res}</div>`;
        $('.title').after(response);

        //- var user = input.closest('tr');
        //- $('.title').next().fadeOut('slow', () => {
        //-   $('.title').next().remove();
        //-   input[0].checked = false;
        //-   if (user.parent().parent().attr('id') == 'admins') {
        //-     $('#nonAdmins').append(user);
        //-   } else {
        //-     $('#admins').append(user);
        //-   }
        //- });
      })
      .fail(res => console.log("Changing Admin Failed", res));
    }

    $('body').on('click', '.change-privilege', changeAdmin);