include ../layout.pug

block content
  .col-12

    .subtitle #{user.name.first}'s Profile
    .border

    if successMessage
      .success Your profile was updated!

    .activity
      .activity-name First Name
      .activity-description= user.name.first

    .activity
      .activity-name Last Name
      .activity-description= user.name.last

    if user.name.nickname
      .activity
        .activity-name Nickname
        .activity-description= user.name.nickname

    .activity
      .activity-name Email
      .activity-description= user.email

    .activity
      .activity-name Family
      .activity-description= user.family.name

    .activity
      .activity-name Lifetime Points
      .activity-description= user.lifetimePoints

    if user._id.toString() === currentUser._id.toString()
      a.grey-button(href=`/users/${user._id}/edit`) Edit Profile